@tailwind base;
@tailwind components;
@tailwind utilities;

/* Medical Dashboard Base Styles */
body {
  @apply bg-medical-50 text-slate-800 font-sans antialiased;
}

/* Custom Scrollbar for Reports */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-medical-100 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-medical-500;
}